 *{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}
h1{
    text-align: center;
    margin-top: -150px;
    margin-bottom: 50px;
    color:rgb(206, 0, 36)

}
#logo{
    margin-top: -75px;
    text-align: left;
}
.pizza{
    width: 300px;
}

#formulario{
    position: relative;
    max-width: fit-content;
    margin-top: 20px;
    margin-left: 35%;
    border-style:double;
    padding-top: 20px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-color: rgb(251, 209, 88);
    background-color: rgb(251, 209, 88);
    text-align: left;
}

label{
    color:rgb(34, 191, 136);
    font-size: 18px;
    margin: 20px;
    text-shadow: 2px 1px 0.2px black;
}
#genera{
    margin-top: 15px;
    color:black;
    text-shadow: none;
}

button{ 
    margin: 10px 0px 5px 20px;
}
input{
    margin-left: 20px;
}

input > radio{
    margin:2px
}


#finalizar{
    margin-left:25%;
    margin-bottom: 10px;
    padding:5px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color:rgb(34, 191, 136);
} 


